# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Install EF Tools
      run: dotnet tool install --global dotnet-ef
    - name: Add EF Tools to PATH
      run: echo "$HOME/.dotnet/tools" >> $GITHUB_PATH
    - name: Dotnet info
      run: dotnet --info
    - name: Restore dependencies
      run: dotnet restore ShortUrl.slnx
    - name: Build
      run: dotnet build ShortUrl.slnx --no-restore
    - name: Test
      run: dotnet test --solution ShortUrl.slnx --no-build --verbosity detailed
